<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tweet Collector</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
  <h1>Tweet Collector</h1>
  <p>Tweet collector allows you to collect specific tweets of specific users.</p> 
  <h2>Collect a tweet</h2>
  <div class="row">
    <div class="col-sm-4">Please enter the link of the tweet you want to collect:</div>
    <div class="col-sm-8">$tweet</div>
  </div>
  <h2>Search for tweets</h2>
  <h2>List of latest users with collected tweets</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Twitternick</th>
	<th>Submission Date</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for user_dict in user_list %}
      <tr>
        <td>{{user_dict["user"]}}</td>
        <td>{{user_dict["submit"]}}</td>
        <td>Link</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>List of latest collected tweets</h2>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th>Tweet</th>
        <th>User ID</th>
	<th>Submission Date</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for tweet_dict in tweet_list %}
      <tr>
        <td>{{tweet_dict["tweet_id"]}}</td>
        <td>{{tweet_dict["people_id"]}}</td>
        <td>{{tweet_dict["submit"]}}</td>
        <td>Link</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>

</html>
