<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tweet Collector</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js_scripts.js"></script>
</head>

<body>

<div class="container-fluid">

  <h1>Tweet Collector</h1>

  <p>Tweet collector allows you to collect specific tweets of specific users.</p> 

  <h2>Collect a tweet</h2>

  <form method="get" action="" class="form-group">
    <label for="url">Please enter the link to tweet you want to collect</label>
    <input type="url" class="form-control" oninput="myFunction()" name="url" id="url">
    <p id="space"></p>
    {% for collect_dict in collect %}
    <p id="response">{{collect_dict["text"]}}<a href="{{collect_dict["url"]}}">Tweet</a></p>
    {% endfor %}
    <input type="submit" value="Collect" id="submit" disabled="true">
  </form>

  <h2>Search for tweets</h2>

  <h2>List of latest users with collected tweets</h2>

  <table class="table table-hover table-bordered">

    <thead>
      <tr>
        <th>Twitternick</th>
	<th>Submission Date</th>
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      {% for user_dict in user %}
      <tr>
        <td>{{user_dict["user"]}}</td>
        <td>{{user_dict["submit"]}}</td>
        <td><a href="{{user_dict["link"]}}">Profile</a></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <h2>List of latest collected tweets</h2>

  <table class="table table-hover table-bordered table-responsive">

    <thead>
      <tr>
        <th>Tweet</th>
        <th>Twitternick</th>
	<th>Submission Date</th>
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      {% for tweet_dict in tweet %}
      <tr>
        <td>{{tweet_dict["tweet_id"]}}</td>
        <td><a href="{{tweet_dict["profile"]}}">{{tweet_dict["twitternick"]}}</a></td>
        <td>{{tweet_dict["submit"]}}</td>
        <td><a href="{{tweet_dict["link"]}}">Tweet</a></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

</body>

</html>
